<div class="" style="height: 100vh; overflow: hidden">
  <img-scanner
  [SERVICE_BASE_URL]="BASE_URL"
    style="width: 100%; height: 100%"
  >
  </img-scanner>
</div>

<!-- 
<div class="d-flex justify-content-center align-items-center vh-100">
  <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#scannerModal">Open Scanner</button>
</div>

<div class="modal fade" id="scannerModal" tabindex="-1" aria-labelledby="scannerModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl" style="min-width: 95%;">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="scannerModalLabel">Image Scanner</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
          <i class="fa fa-window-close" aria-hidden="true"></i>

        </button>
      </div>
      <div class="modal-body" style="height: 80vh; overflow: hidden">
        <img-scanner [SERVICE_BASE_URL]="BASE_URL" style="width: 100%; height: 100%"></img-scanner>
      </div>
    </div>
  </div>
</div> -->
